body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
}

#contenedorEncabezado {
    padding-top: 50PX;
    margin-left: 150px;
    margin-right: 150px;
    max-width: 100%;
}

.fondoGris {
    background-color: rgb(216, 216, 216);
}

.tablaInfo {
    border: 2px solid #11B09C;
    padding-bottom: 45px;
    padding-left: 25px;
    padding-top: 25px;
    padding-right: 25px;
    border-radius: 0 115px 0 80px;
}

.tablaInfo p {
    font-size: 0.9rem;
}

.sombraCaja {
    -webkit-box-shadow: 10px 13px 10px -3px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 10px 13px 10px -3px rgba(0, 0, 0, 0.19);
    box-shadow: 10px 13px 10px -3px rgba(0, 0, 0, 0.19);
}

.tablaInfo h6 {
    font-size: 1rem;
}

.titulo {
    text-align: center;
}

.formularioFondo {
    background-color: rgba(246, 246, 246, 0.872);
}

.encabezadoFormularioTablas {
    background-color: #11B09C;
}

table th {
    border: 1.5px solid rgb(239, 239, 239);
}

.encabezadoFormularioTablas {
    color: white;
    text-align: center;
}

#perfilesYcompetencias {
    margin-top: 110px;
}

.competencias {
    background-color: #eaeaea4a;
}

.imagenPerfil {
    z-index: 5;
    margin-top: 146px;
    margin-bottom: -143px;
    margin-left: 55px;
    max-width: 50%;
}