body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
    font-size: 12px;
}

#contenedorEncabezado {
    padding-top: 50PX;
    margin-left: 150px;
    margin-right: 150px;
    max-width: 100%;
}

p {
    font-size: 0.9rem;
}


/****************************GENERALES****************************************/

.titulo {
    text-align: center;
    font-size: 18px;
}

.sombraCaja {
    -webkit-box-shadow: 10px 13px 10px -3px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 10px 13px 10px -3px rgba(0, 0, 0, 0.19);
    box-shadow: 10px 13px 10px -3px rgba(0, 0, 0, 0.19);
}

.encabezadoSiglas {
    padding-top: 20px;
    padding-bottom: 20px;
}

.fondoGris {
    background-color: rgba(246, 246, 246, 0.872);
}

.fondoColorDAS {
    background-color: #11B09C;
}

.encabezadoFormularioTablas {
    color: white;
    text-align: center;
}

.bordeVerdeInfo {
    border: 2px solid #11B09C;
    padding-bottom: 45px;
    padding-left: 25px;
    padding-top: 25px;
    padding-right: 25px;
    border-radius: 0 115px 0 80px;
}


/************************************************************************/

table th {
    border: 1.5px solid rgb(239, 239, 239);
}

#perfilesYcompetencias {
    margin-top: 110px;
}

.competencias {
    background-color: #eaeaea4a;
}

.imagenPerfil {
    z-index: 5;
    margin-top: 146px;
    margin-bottom: -143px;
    margin-left: 55px;
    max-width: 50%;
}

.selector {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
}

.tituloDeEncuesta {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #11B09C;
    font-weight: 500;
}